- page_title t("event.comment.send_comment")

.row
  .large-6.columns
    %h3.subheader
      = t("event.comment.replying_to")
      = @parent.name

.row
  .large-6.columns
    %i
      = @parent.content

= render 'form'
