- page_title t("views.event.comment.send_comment")

.row
  .large-6.columns
    %h3.subheader
      = t("views.event.comment.replying_to")
      = h(@parent.name)

.row
  .large-6.columns
    %i
      = simple_format(h(@parent.content))

= render 'form'
