.row.show-for-medium-up
  .medium-12.columns
    %ul.breadcrumbs
      %li
        = link_to @conference.title, conference_path(@conference)
      %li.current
        - if defined? event and event.present?
          = h(event.title)
        - else
          = t("event.new_event")
