.row{"data-magellan-expedition" => "fixed"}
  %dl.sub-nav
    %dd{"data-magellan-arrival" => "build"}
      %a{:href => "#build"} Build with HTML
    %dd{"data-magellan-arrival" => "build"}
      %a{:href => "#build"} Build with HTML
    %dd{"data-magellan-arrival" => "build"}
      %a{:href => "#build"} Build with HTML
    %dd{"data-magellan-arrival" => "js"}
      %a{:href => "#js"} Arrival 2

.row
  .small-6.columns
    %p 19:00-20:00
  .small-6.columns
    %p Title
