.off-canvas-wrap
  .inner-wrap
    %nav.tab-bar
      %section.left-small
        %a.left-off-canvas-toggle
          .fa.fa-navicon.fa-lg
      %section.middle.tab-bar-section
        %h1.title
          = link_to "GulTalks", root_path
        -# %h1
        -#   %a{:href => "/"}
        -#     GulTalks
    %aside.left-off-canvas-menu
      %ul.off-canvas-list
        %li
          %label Foundation
        %li.has-submenu
          %a{:href => "#"} The Psychohistorians
          %ul.left-submenu
            %li.back
              %a{:href => "#"} Back
            %li
              %label Level 1
            %li
              %a{:href => "#"} Link 1
            %li.has-submenu
              %a{:href => "#"} Link 2 w/ submenu
              %ul.left-submenu
                %li.back
                  %a{:href => "#"} Back
                %li
                  %label Level 2
                %li
                  %a{:href => "#"} ...
            %li
              %a{:href => "#"} ...
        %li
          %a{:href => "#"} The Encyclopedists
        %li
          %a{:href => "#"} The Mayors
        %li
          %a{:href => "#"} The Traders
        %li
      %a{:href => "#"} The Merchant Princes
