%a.dotted-link.right{href: "#", 'data-reveal-id':"legend-modal"}
  Ver leyenda
#legend-modal.reveal-modal.medium{"data-reveal" => "", 'aria-labelledby': "modalTitle", 'aria-hidden': "true", 'role': "dialog"}
  %h2.subheader{ id: "modalTitle"} Leyenda
  %hr
  %p.lead Descripciones de cada uno de las etiquetas identificativas que acompañan a las actividades.
  = render partial: "partials/legend"
  %a{ class: "close-reveal-modal", 'aria-label': "Close"}
    &#215;