- if !event.cancelled? and event.created_at.today?
  %span.success.radius.label
    = t("event.status.new").humanize
%span.info.radius.label
  - if event.subclass.eql?("workshop")
    %i.fa.fa-wrench.fa-lg
  - if event.subclass.eql?("talk")
    %i.fa.fa-bullhorn.fa-lg
  = t("event.subclasses.#{event.subclass}").humanize
- if event.cancelled?
  %span.alert.radius.label
    %i.fa.fa-lock.fa-lg
    = t("event.status.cancelled").humanize
