%h2
  Close the Call for Talks of a conference
  = link_to "¶", "#close-the-call-for-talks-of-a-conference", name: "close-the-call-for-talks-of-a-conference"
%p
  %strong Endpoint:
  %code POST
  %code /api/conferences/:id/close_call
%p
  This endpoint disables the Call for Talks of the specified conference. The
  %code :id
  parameter may be the numeric ID or the slug from a conference.

.alert-box.warning.radius
  %i.fa.fa-warning.fa-2x.fa-fw
  This endpoint requires authentication by means of a token sent in the
  HTTP header (
  %code token
  ). This token can be generated through the admin panel.

%p
  Example:
  %code POST
  %code #{base_url}/conferences/5/close_call
  or
  %code #{base_url}/conferences/xxviii-jornadas-tecnicas-del-gul/close_call
