%h2
  Disable votes in a conference
  = link_to "¶", "#disable-votes-in-a-conference", name: "disable-votes-in-a-conference"
%p
  %strong Endpoint:
  %code POST
  %code /api/conferences/:id/disable_voting

%p
  This endpoint disables the voting of the specified conference. The
  %code :id
  parameter may be the numeric ID or the slug from a conference.

.alert-box.warning.radius
  %i.fa.fa-warning.fa-2x.fa-fw
  This endpoint requires authentication by means of a token sent in the
  HTTP header (
  %code token
  ). This token can be generated through the admin panel.

%p
  %strong Example:
  %code POST
  %code #{base_url}/conferences/5/disable_voting
  or
  %code #{base_url}/conferences/xxviii-jornadas-tecnicas-del-gul/disable_voting
