<h2>
    List of conferences
    <%= link_to "¶", "##{anchor}", name: anchor %>
</h2>

<p>
    <strong>Endpoint:</strong>
    <code>GET</code>
    <code>/api/conferences</code>
</p>

<p>
    This endpoint returns a list of conferences, which include relevant public
    information.
</p>

<p>
    <strong>Example:</strong>
    <code>GET</code>
    <code><%= base_url %>/conferences</code>
</p>

<pre>
    [
      {
      "active": false,
      "call_for_papers_end_date": "2016-02-24",
      "call_for_papers_start_date": "2016-03-13",
      "coordinator": "Adrián Borja Pimentel",
      "description": "XXVIII Jornadas Técnicas...",
      "end_date": "2016-04-15",
      "id": 5,
      "location": "Leganés",
      "slug": "xxviii-jornadas-tecnicas-del-gul",
      "start_date": "2016-04-11",
      "title": "XXVIII Jornadas Técnicas del GUL",
      "voting_end_date": "2016-04-18",
      "voting_start_date": "2016-04-14"
      }
    ]
</pre>
