- page_title "API"
- base_url = "cursos.gul.es/api"
- toc = ["List of Conferences",
        "List of Events from a Conference",
        "Open the Call for Talks of a Conference",
        "Close the Call for Talks of a Conference",
        "Enable Votes in a Conference",
        "Diable Votes in a Conference",
        "Errors"]
.row
  .large-12.columns.show-for-medium-up.show-for-landscape
    %ul.breadcrumbs
      %li
        = link_to t("home"), root_path
      %li.current
        API
.row
  .large-12.columns
    .row
      .large-7.medium-7.columns
        %h1.subheader
          API
        %hr
        %p.text-justify
          The GulTalks API consists of a series of endpoints that can be accessed by using
          HTTP
          %strong GET
          and
          %strong POST
          methods. The responses are formatted using
          %strong JSON
          in all cases.
        %p.text-justify
          The root of the application is
          %code #{base_url}
          use
          %code http://0.0.0.0:3000
          instead in development enviroment.
      %br/
      .large-5.medium-5.columns
        .panel.radius.clearfix
          %h4 Table of Contents
          %ul.no-bullet
            - toc.each do |e|
              %li
                = link_to e, anchor: e.parameterize


    - Dir["app/views/api/_*"].each do |file|
      - partial = File.basename(file, ".haml")[1..-1]
      %br/
      = render partial: partial, locals: { base_url: base_url, anchor: partial.gsub(/_/, "-") }
