.row
  .large-12.columns
    .medium-5.columns
      %h1
        talks 2014
      %h3.subheader
        %span.grey> from
        22
        %span.grey> to
        28
        %span.grey> of
        april
    .medium-5.columns
      %ul.no-bullet.text-right
        %li 
          Call for talks
          %span.label.success.radius OPEN
        %li 
          Voting period from XX to XX xxxxx
          %span.label.alert.radius CLOSED
        %li
          This is a warning tag
          %span.label.alert-box.warning.radius
            WARNING
- if @talks
  %table
    %thead
      %tr
        %th{:width => "360"} Talk
        /%th Table Header
        %th{:width => "150"}
          %i.fi-calendar
          &
          %i.fi-clock
        %th{:width => "40"} Votes
    %tbody
      - @talks.each do |talk| 
        %tr
          %td
            = link_to(talk.title, :controller => 'talks', :action => 'show', :id => talk.id)

          %td
            = talk.date
          %td.text-center
            = talk.votes
          /=link_to() 
          /  Content Goes Here
        /%td This is longer content Donec id elit non mi porta gravida at eget metus.
        /%td Content Goes Here
      /  %td Content Goes Here
      %tr
        %td 
          %a{:href => "/talks/show"} Content Goes Here
        %td 
          .row
            .small-6.columns
              .small-3.columns 
                %p 25-3-14 
              .small-3.columns
                %p 17:00 to 18:00
        %td 9
      /  %td Content Goes Here
      %tr
        %td Content Goes Here
        %td This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.
        %td Content Goes Here
      /  %td Content Goes Here
- else
  .row
    .medium-6.medium-centered.columns
      .panel.callout.radius
        %h3 The is open
        %p Be the first to propose a talk!

//- if @conference.voting_end_date > Date.today 
= render "partials/calendar"


.row
  .large-6.large-centered.columns
    %a{:href =>"talks/new",:class => "button radius big-button"}
      /%i.fi-plus
      Add talk
