.row
  .large-12.columns
    %h3
      This is a talk title
      /= talk.title
    %h6.subheader
      This is a brief comment
.row
  .medium-4.columns
    %ul.no-bullet
      %li
        %i.fi-torso
        Speaker
      %li
        %i.fi-calendar
        Date
      %li
        %i.fi-clock
        Time  

  .medium-4.columns
    %ul.no-bullet
      %li
        %i.fi-marker
      %li
        %i.fi-info
      %li
        %i.fi-torsos
  .medium-4.columns
    %ul.no-bullet
      %li
        %i
      %li
        %i
      %li
.row
  .large-12.columns
    %p
      This is a long comment
/Ponente: The QVD Team
/Fecha: 2013-10-24
/Hora de inicio: 18:00
/Hora de fin: 19:00
/Aula: 2.3.A.04
/Conocimientos previos:
/Nivel (1 = básico, 5 = difícil): 3
/Referencias:
/Asistido por:

.row
  .large-6.columns
    %a.button.radius.big-button{:href => "/"}
      Back to talks
  .large-6.columns
    %a.button.success.radius.big-button{:href => "/"}
      Vote
