.row
  .medium-5.columns
    %h1 thank you!
    %p Thank you for register your talk. Soon you will recibe a confirmation e-mail.
    %p
      If you need help, do not doubt to write to
      %a{:href => "mailito:info@gul.es"} info@gul.es
.row
  .large-6.columns
    %a.button.radius.big-button{:href => "/"}
      Back to talks
  .large-6.columns
    %a.button.radius.big-button.success{:href => "/talks/new"}
      Add new talk
//TODO: some other features?  
