.row
  .medium-7.columns
    %h1 thanks for vote!
    %p 
      Thank you vote talk. Soon you will recibe a confirmation e-mail for avoiding fraud in voting process.
    %p
      If you need help, do not hesitate to write to
      - mail_to "info@gul.es", "info@gul.es", subject: "[GUL TALKS] Subject title" 
      /%a{:href => "mailito:info@gul.es"} info@gul.es
.row
  .large-6.columns
    %a.button.radius.big-button{:href => "/"}
      Back to talks
//TODO: some other features?  
