.row
  .medium-7.columns
    %h1 thank you!
    %p 
      Thank you for register your talk. Soon you will recibe a confirmation e-mail.
    %p
      If you need help, do not hesitate to write to
      - mail_to "info@gul.es", "info@gul.es", subject: "[GUL TALKS] Subject title" 
.row
  .large-6.columns
    = link_to "Back to talks", { :controller => 'conferences', :action => 'show', :id => @talk.conference_id }, { :class => "button radius expand" }
  .large-6.columns
    = link_to "Propose another talk", { :controller => 'talks', :action => 'new' }, { :class => "button success radius expand" }
//TODO: some other features?  
