.row.show-for-medium-up.show-landscape-only
  .medium-12.columns
    %ul.breadcrumbs
      %li
        = link_to @conference.title, conference_path(@conference)
      %li.current
        = t("event.new_event")
