.row
  .medium-12.columns
    %h3
      = t("verifier.vote")
%hr

%p
      = t("verifier.message")
    
    
    .row
  .large-6.columns
    = link_to t("home"), root_path, class: "button radius expand"

