// Place all the styles related to the talks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//$green: #43ac6a;
//$red: #f04124;
//$orange: #f08a24;

.grey {
    color:cadetblue;
}
.top-bar {
    margin-bottom:1em;
}
//.button {
//    font: normal normal 700 13px/13px "Open Sans",Arial,sans-serif;
//    text-transform: uppercase;
//}

.status-flag {
    padding: 2px;
    width:10%;
    //margin: 1em 0;
    border:none;
    p {
        font-size: x-small;
        text-align: center;
        color:white;
    }
}

// New Talk Form


.tag-icon {
    font-weight: bold;
    font-size: 21px;
}

//.breadcrumbs {
//  border:none;
//  background: none;
//  padding-left:0;
//}
