- page_title t("event.new_event")
= render partial: "breadcrumbs"

.row
  .medium-7.columns
    %h5.subheader
      = t("event.are_you_speaker")

.row
  .large-6.columns
    = link_to t("event.i_am_speaker"), next_wizard_path, { class: "button radius expand" }
  .large-6.columns
    = link_to t("event.i_am_proposing"), wizard_path(:end), { class: "button success radius expand" }

